div.header {
    color: rgb(255, 255, 255);
    background: rgb(243, 81, 81);
    display: inline-block;
    width: 15%;
}

a:hover{
    color:greenyellow;
}

span#lol {

    color:violet;
}

a {
    color:greenyellow;
}

p.follow {
    color:teal;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }