p.follow {
    color:aliceblue;
}

div.header {
    color: rgb(120, 15, 62);
    background: rgb(15, 28, 28);
    display: inline-block;
    width: 15%;
}

div.header:hover{
    color:greenyellow;
}

span#lol {

    color:violet;
}

a {
    color:brown;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }